/*
.cookMeMain {
  padding: 0;
}

.jumbotron {
  background-image: url('http://ce.unm.edu/assets/imgs/enrich/cooking-header');
  border-radius: 0;
}

h1 {
  text-align: center;
  color: 'white';
}

.row {
  margin: 0 auto;
  width: 980px;
}

.col-md-12 {
  background-color: green;
  padding: 10px;
  margin-bottom: 40px;
  border-radius: 6px;
  height: 240px;
  width: 940px;
}

.col-md-10 {
  border: 1px solid rgba(128, 128, 128, 0.2);
  border-radius: 6px;
}

.col-md-1 {
  border-radius: 6px;
}

#positionDescriptionContainer {
  height: 140px;
}

#stepPosition {
  height: 60px;
  font-size: 40px;
  margin-top: 10px;
  text-align: center;
}

#stepDescription {
  height: 120px;
  margin-top: 20px;
  margin-left: 20px;
  width: 88.499999999995%;
  font-size: 16px;
}

#timeIssuesStartContainer {
  height: 220px;
  float: right;
  width: 14.4999999995%;
  padding: 0px;
}

.timeIssuesStart {
  border: 1px solid rgba(128, 128, 128, 0.2);
  padding: 20px;
  height: 60px;
  border-radius: 6px;
  width: 100%;
  margin: 0 auto;
  margin-top: 20px;
  text-align: center; 
}

#stepIngredients {
  height: 60px;
  margin-top: 20px;
  padding: 20px;
  font-size: 16px;
}

*/














